
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <h1>Golfer Mate</h1>
  <span class="fill-remaining-space"></span>
  <span><button mat-raised-button *ngIf="!(authService.user$ | async)?.uid" (click)="authService.login()">login</button></span>
  <span><button mat-raised-button *ngIf="(authService.user$ | async)?.uid" (click)="authService.logout()">logout</button></span>

</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" [autoFocus]="false" fixedTopGap="56">

    <mat-nav-list>
      <a mat-list-item routerLink="/welcome"><mat-icon>account_circle</mat-icon><span> User </span></a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/open"><mat-icon>home</mat-icon><span> Home </span></a>
      <a mat-list-item routerLink="/game"><mat-icon>golf_course</mat-icon> Game </a>
      <a mat-list-item routerLink="/settings"><mat-icon>settings</mat-icon> Course Settings </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


