<div class="center">
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">

        <mat-form-field appearance="standard">
            <input matInput placeholder="name" value="{{player.name}}">
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Hole Columns -->
    <ng-container  matColumnDef="H1">
      <th mat-header-cell *matHeaderCellDef> Hole 1 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container  matColumnDef="H2">
      <th mat-header-cell *matHeaderCellDef> Hole 2 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H3">
      <th mat-header-cell *matHeaderCellDef> Hole 3 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H4">
      <th mat-header-cell *matHeaderCellDef> Hole 4 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H5">
      <th mat-header-cell *matHeaderCellDef> Hole 5 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H6">
      <th mat-header-cell *matHeaderCellDef> Hole 6 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H7">
      <th mat-header-cell *matHeaderCellDef> Hole 7 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H8">
      <th mat-header-cell *matHeaderCellDef> Hole 8 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H9">
      <th mat-header-cell *matHeaderCellDef> Hole 9 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H10">
      <th mat-header-cell *matHeaderCellDef> Hole 10 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="name" value="{{player.holes[0]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H11">
      <th mat-header-cell *matHeaderCellDef> Hole 11 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H12">
      <th mat-header-cell *matHeaderCellDef> Hole 12 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H13">
      <th mat-header-cell *matHeaderCellDef> Hole 13 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H14">
      <th mat-header-cell *matHeaderCellDef> Hole 14 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H15">
      <th mat-header-cell *matHeaderCellDef> Hole 15 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H16">
      <th mat-header-cell *matHeaderCellDef> Hole 16 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H17">
      <th mat-header-cell *matHeaderCellDef> Hole 17 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="H18">
      <th mat-header-cell *matHeaderCellDef> Hole 18 </th>
      <td mat-cell *matCellDef="let player">
        <mat-form-field appearance="standard">
          <input matInput placeholder="0" value="{{player.holes[11]}}">
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container  matColumnDef="inTotal">
      <th mat-header-cell *matHeaderCellDef> inTotal </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="outTotal">
      <th mat-header-cell *matHeaderCellDef> OutTotal </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <!-- Star Column -->
    <ng-container matColumnDef="Total" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon>more_vert</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
