<mat-card>
  <form >
    <h1>Settings</h1>
    <mat-form-field appearance="outline">

<mat-select placeholder="Select Course" (selectionChange)="updateCourse($event.value)">
  <mat-option value="18300">Fox Hollow</mat-option>
  <mat-option value="11819">Thanksgiving Point</mat-option>
  <mat-option value="19002">Spanish Oaks</mat-option>
</mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
<mat-select placeholder="Select Tee">
  <mat-option *ngFor="let tee of teeArray" value="{{tee.teeTypeId}}">
    {{tee.teeType}}
  </mat-option>
</mat-select>
    </mat-form-field>
  </form>
</mat-card>
